Integrated_project_P3_Validating_our_data_student.ipynb

MD_agric_df.csv

weather_station_df.csv

weather_station_mapping_df.csv

Maji_Ndogo_farm_survey_small

Maji_Ndogo_farm_survey_small.db

Maji_Ndogo_farm_survey_small_.db